{% extends "base_template.html" %}

{% block content %}
    <table class='table'>
        <thead>
            <th>id</th>
            <th>Joke</th>
            <th>Punchline</th>
            <th></th>
        </thead>
        <tbody>
            {% for row in rows: %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.text }}</td>
                    <td>{{ row.punchline }}</td>
                    <th>
                        <a href='joke/{{ row.id }}'>view</a>
                        <a href='joke/delete/{{ row.id }}'>delete</a>
                        <a href='joke/update/{{ row.id }}'>update</a>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/joke/add">Add Joke</a>
{% endblock %}