{% extends "base_template.html" %}

{% block content %}
    <div class='row'>
        <div class='col-6'>
            <h2>Login</h2>
            {% with messages = get_flashed_messages(category_filter=['login']) %}
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}


            <form class='row' action='/user/login' method='POST' >

                <div class='col-12'>
                    <label for='email_address'>Email:</label>
                    <input type='email' name='email_address'>
                </div>

                <div class='col-12'>
                    <label for='password'>Password:</label>
                    <input type='password' name='password'>
                </div>

                <div class'col-12 text-center'>
                    <input type="submit" class="btn btn-success" value="Login">
                </div>
            </form>
        </div>
        <div class='col-6'>
            <h2>Register</h2>
            {% with messages = get_flashed_messages(category_filter=['registration']) %}
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}

            <form class='row' action='/user/register' method='POST' >

                <div class='col-6'>
                    <label for='email_address'>Email:</label>
                    <input type='text' name='email_address'>
                </div>

                <div class='col-6'>
                    <label for='first_name'>First Name:</label>
                    <input type='text' name='first_name'>
                </div>

                <div class='col-6'>
                    <label for='last_name'>Last Name:</label>
                    <input type='text' name='last_name'>
                </div>

                <div class='col-6'>
                    <label for='password'>Password:</label>
                    <input type='password' name='password'>
                </div>

                <div class='col-6'>
                    <label for='confirm_password'>Confirm Password:</label>
                    <input type='password' name='confirm_password'>
                </div>

                <div class'col-12 text-center'>
                    <input type="submit" class="btn btn-success" value="Register">
                </div>
            </form>
        </div>
    </div>
{% endblock %}