{% extends "base_template.html" %}

{% block content %}
    <table class='table'>
        <thead>
            <th>id</th>
            <th>Joke</th>
            <th># Punchlines</th>
            <th></th>
        </thead>
        <tbody>
            {% for joke in user.jokes: %}
                <tr>
                    <td>{{ joke.id }}</td>
                    <td>{{ joke.text }}</td>
                    <td></td>
                    <th>
                        <a href='joke/{{ joke.id }}'>view</a>
                        <a href='joke/delete/{{ joke.id }}'>delete</a>
                        <a href='joke/update/{{ joke.id }}'>update</a>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/joke/add">Add Joke</a>
{% endblock %}